node_modules/
.cache/
public/
.eslintcache
coverage/
src/data/
createFakeData.js
build/

# yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
src/gatsby-types.d.ts
