@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #7b4397;
  background: linear-gradient(to bottom right, #dc2430, #7b4397);
  transition: ease all 800ms;
  min-height: 100vh;
}

@media print {
  html,
  body {
    background: white;
  }
}

.icon {
  @apply inline-block mx-1 text-base align-middle text-orchid-700;
  margin-bottom: 0.125rem;
  max-width: 15px;
  color: inherit;
}

.border {
  border-width: 0px !important;
}
